# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/server/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/dist

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Docker specific files (These are usually committed)
# Dockerfile
# .dockerignore
# docker-compose.yml
# nginx.conf

# Environment variables files
.env*
server/.env*

# Secrets / Credentials (NEVER commit these)
server/credentials.json # Google Drive API credentials

# OS specific files
Thumbs.db

# Misc
/.cache
/.idea
/.vscode
*.swp