# server/.dockerignore

# Dependencies
node_modules

# Environment variables files
.env*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Docker specific files (not needed inside the server image)
Dockerfile
.dockerignore

# OS specific files
.DS_Store
Thumbs.db 